/* Apply a gradient background to the entire page */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ensure the root div covers the entire viewport */
#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 250px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
}

.sidebar-header {
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.sidebar-nav a {
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.sidebar-nav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.main-content {
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-size: 24px;
  color: #fff;
}

.search-bar-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.search-bar {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  flex-grow: 1;
  box-sizing: border-box;
}

.button {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  color: #fff;
  padding: 12px 20px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  transition: background-color 0.3s, border 0.3s;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.data-content {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  overflow-y: auto;
  max-height: 60vh;
  color: #fff;
  white-space: pre-wrap;
  font-family: 'Courier New', Courier, monospace;
}
